<<<<<<< HEAD
{{#each model as |post|}}
		<h3>{{post.title}}</h3>	
		<p>{{post.body}}</p>
		<p>{{post.userId.name}}</p>
{{/each}}
=======
{{#each model as |post|}}
		<h3>{{post.title}}</h3>	
		<p>{{post.body}}</p>
		<p>{{post.userId.name}}</p>
{{/each}}
>>>>>>> 9d99102de47d091ca45ff8a81065bada351cd0d0
